# ========== 모델 선택 ==========
# PROVIDER (openai / upstage / ollama)
PROVIDER=

# Embedding Provider (미설정시 PROVIDER와 동일한 값)
EMBED_PROVIDER

# Judge
JUDGE_PROVIDER=

# ollama (PROVIDER로 ollama 선택 시 - 모델 선택)
OLLAMA_LLM_MODEL=
OLLAMA_EMBED_MODEL=
JUDGE_OLLAMA_MODEL=
JUDGE_OLLAMA_BASE_URL=

# ========== API KEY ==========
# UPSTAGE
UPSTAGE_API_KEY=
UPSTAGE_BASE_URL=
UPSTAGE_LLM_MODEL=
UPSTAGE_EMBED_MODEL=
UPSTAGE_EMBED_BASE_URL=

# OPENAI
OPENAI_API_KEY=
OPENAI_LLM_MODEL=
OPENAI_EMBED_MODEL=

# ========== DB ==========
# 220.149.110.152
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# ========== LangSmith ==========
LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

# ========== Authentication ========
JWT_SECRET_KEY=
ADMIN_EMAILS=

# ========== Hugging Face Token ========
HF_TOKEN=