<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470638733275-k58682cvnitqo41deodp0a2fk778e6am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470638733275-k58682cvnitqo41deodp0a2fk778e6am</string>
	<key>API_KEY</key>
	<string>AIzaSyBvOSBPg3QMKVsD6hgwbCd6Gg8tGr587CM</string>
	<key>GCM_SENDER_ID</key>
	<string>470638733275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bbotApp1</string>
	<key>PROJECT_ID</key>
	<string>bbot-495401</string>
	<key>STORAGE_BUCKET</key>
	<string>bbot-495401.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470638733275:ios:26d5fb76fb2abad33669fe</string>
</dict>
</plist>